<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>Content Page</title>
        <link rel="icon" href="media/favicon.ico" />
        <link rel="stylesheet" href="content.css" />
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- loader -->
        <div class="loader">
            <img src="./media/loading.gif" style="width: 50px; height: 50px;" alt="Loading..."/>
        </div>
        <div class="loader2" id="loader2">
            <img src="./media/loading.gif" style="width: 50px; height: 50px;" alt="Loading..."/>
        </div>

        <!-- Navigation Bar  -->
        <div class="TopNav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="">Find a PG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link">Register a Property</a></li>
                    </ul>   
                    
                    <form action="/logout" method="GET">
                        <button class="btn btn-outline my-2 my-sm-0" type="submit">Logout</button>
                    </form>           
                </div>
            </nav>
        </div>
        <div class="content-container">


            <div class="Images">
                <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">

                        <% for (let i = 0; i < pst.data.img_url.length; i++) { %>
                            <% if(i === 0){ %>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="active" aria-current="true" aria-label="Slide <%= i+1 %>"></button>
                                <% } else{ %>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i+1 %>"></button>
                               <% }%>
                            <% } %>

                        
                    </div>
                    <div class="carousel-inner">


                        <% for (let i = 0; i < pst.data.img_url.length; i++) { %>
                            <!-- <%= i %> -->
                            <% if(i === 0){ %>
                                <div class="carousel-item active">
                                    <img src="<%= pst.data.img_url[i] %>" class="d-block w-100" alt="..." onerror=this.src="https://firebasestorage.googleapis.com/v0/b/pg-website-7495d.appspot.com/o/default.png?alt=media">
                                </div>
                                <% } else{ %>
                                    <div class="carousel-item">
                                        <img src="<%= pst.data.img_url[i] %>" class="d-block w-100" alt="..." onerror=this.src="https://firebasestorage.googleapis.com/v0/b/pg-website-7495d.appspot.com/o/default.png?alt=media">
                                    </div>
                                    <% }%>
                            <% } %>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="info">
                <div class="Title">
                    <h1><%= pst.data.Apartment_Name %></h1>
                    <p><%= pst.data.Location %></p>
                </div>
                <div class="description">
                    <p>
                        <%= pst.data.Description %>
                    </p>
                </div>
                <div class="Depo">
                    <div class="txt">
                        <p>Deposit Amount:</p>
                        <h2>₹ <%= pst.data.Deposit %></h2>
                    </div>
                    <div class="contbtn">
                        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#email" style="margin-top:20px;width: 150px; height: 40px;">Contact Host</button>
                        <div class="modal fade" id="email" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h6 class="modal-title" id="exampleModalLabel">Contact Host</h6>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="con-form" onsubmit="sendEmail(event)">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Name:</label>
                                            <input type="text" class="form-control" id="recipient-name" required>
                                        </div>
                                        <div class="mb-2">
                                            <label for="recipient-name" class="col-form-label">Email</label>
                                            <input type="email" class="form-control" id="recipient-email" required>
                                        </div><div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="recipient-phone" required >
                                        </div>
                                        <div class="mb-2">
                                            <label for="message-text" class="col-form-label">Message</label>
                                            <textarea required class="form-control" id="message-text" ></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Send message</button>
                                        </div>
                                    </form>
                                    
                                </div>
                                
                              </div>
                            </div>
                        </div>
                        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#phno" style="margin-top:20px;width: 200px; height: 40px;">View Phone Number</button>
                        <div class="modal fade" id="phno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h6 class="modal-title" id="exampleModalLabel">Owner Phone Number</h6>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Phone NO: <%= pst.data.Owner_Contact %>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="congridouter">
            <ul class="congrid" style="padding: 0 auto;">
                <ul class="gridItems">
                    <div class="info">Owner Name</div>
                    <div class="val"><%= pst.data.Owner_Name %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Owner Email</div>
                    <div class="val"><%= pst.data.Owner_Email %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Maintainance</div>
                    <div class="val"><%= pst.data.Maintenance %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Electricity charges</div>
                    <div class="val"><%= pst.data.Electricity_Charges %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Accommodation</div>
                    <div class="val"><%= pst.data.Accommodation %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">AC Rooms</div>
                    <div class="val"><%= pst.data.AC_Rooms %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Notice Period</div>
                    <div class="val"><%= pst.data.Notice_Period %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Food Availabilty</div>
                    <div class="val"><%= pst.data.Food_Availabilty %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Power Backup</div>
                    <div class="val"><%= pst.data.Power_Backup %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Deposit amount</div>
                    <div class="val">₹ <%= pst.data.Deposit %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">No. of Beds</div>
                    <div class="val"><%= pst.data.No_of_Beds %></div>
                </ul>
                <ul class="gridItems">
                    <div class="info">Parking</div>
                    <div class="val"><%= pst.data.Parking %></div>
                </ul>
            </ul>
        </div>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; //class loader hidden
         });
        </script>
         <script type="text/javascript">
             function sendEmail(event) {
                 event.preventDefault();

                 document.getElementById('loader2').style.visibility = 'visible';
                 console.log("submitted <%= pst.data.Owner_Email %>");


                 let form = document.getElementById("con-form");
                 let name = document.getElementById("recipient-name");
                 let phone = document.getElementById("recipient-phone");
                 let email = document.getElementById("recipient-email");
                 let messageText = document.getElementById("message-text");
                 
                 Email.send({
                     Host: "smtp.gmail.com",
                     Username: "testforprojects01@gmail.com",
                     Password: "testforemail@2001PG",
                     To: "<%= pst.data.Owner_Email %>",
                     From: "testforprojects01@gmail.com",
                     Subject: "Request from a User",
                     Body: "Someone is interested in the PG you've listed on our website.<h2>Name: " +name.value +"</h2><h2>Phone No:" +phone.value+"</h2><h2>Email:" +email.value+"</h2><h2>Message:" + messageText.value +"</h2>",
                 }).then(function (message) {
                     console.log(message)
                    alert("Owner has been notified and shall contact you soon!!");
                     ul = window.location.href.split('/')
                     myul = `${ul[0]}/${ul[1]}/${ul[2]}/home`
                     location.replace(myul);
                     
                 });
             
                 
                }
         </script>
         <!-- <script>
             function sendEmail(event) {
                event.preventDefault()
                ul = window.location.href.split('/')
                myul = `${ul[0]}/${ul[1]}/${ul[2]}/home`
                document.getElementById('loader2').style.visibility = 'visible';
                location.replace(myul);
                alert("Owner has been notified and shall contact you soon!!");
                 
             }
         </script> -->
    </body>
</html>