<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find a PG</title>
        <link rel="icon" href="media/favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- loader -->
        <div class="loader">
            <img src="./media/loading.gif" alt="Loading..."/>
        </div>


        <!-- Navigation Bar  -->
        <div class="TopNav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">Find a PG</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <form class="form-inline my-2 my-lg-0">
                            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search By Location" aria-label="Search"> -->
                            <!-- <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button> -->
                            
                            <select name="Location" class="custom-select" style="margin-right: 12px;" >
                                <option selected disabled value="">Search By Location</option>
                                <option value="Andheri">Andheri</option>
                                <option value="Mira Road">Mira Road</option>
                                <option value="Bhayander">Bhayander</option>
                                <option value="Bandra">Bandra</option>
                                <option value="Borivali">Borivali</option>
                                <option value="BKC">BKC</option>
                                <option value="Churchgate">Churchgate</option>
                                <option value="Charni Road">Charni Road</option>
                                <option value="Juhu">Juhu</option>
                                <option value="Chembur">Chembur</option>
                                <option value="Santacruz">Santacruz</option>
                                <option value="Dahisar">Dahisar</option>
                                <option value="Goregaon">Goregaon</option>
                                <option value="Vile Parle">Vile Parle</option>
                                <option value="Jogeshwari">Jogeshwari</option>
                                <option value="Malad">Malad</option>
                                <option value="Mahim">Mahim</option>
                                <option value="Prabhadevi">Prabhadevi</option>
                                <option value="Mumbai Central">Mumbai Central</option>
                                <option value="Mumbai CST">Mumbai CST</option>
                                <option value="Kurla">Kurla</option>
                                <option value="Sion">Sion</option>
                                <option value="Worli">Worli</option>
                                <option value="Navi Mumbai">Navi Mumbai</option>
                                <option value="Kharghar">Kharghar</option>
                                <option value="King Circle">King Circle</option>
                                <option value="Wadala">Wadala</option>
                                <option value="Vasai">Vasai</option>
                                <option value="Virar">Virar</option>
                                <option value="Vidya Vihar">Vidya Vihar</option>
                                <option value="Nahor">Nahor</option>
                                <option value="Mankhurd">Mankhurd</option>
                            </select>
                            <select name="Accommodation" class="custom-select" style="margin-right: 12px;" >
                                <option selected disabled value="">Accommodation</option>
                                <option value="Both">Both</option>
                                <option value="Boys">Boys</option>
                                <option value="Girls">Girls</option>
                            </select>
                            <button class="btn btn-outline my-2 my-sm-0" type="submit" style="margin-right: 12px;">Search</button>
                        </form>
                        
                        <!-- <div class="dropdown-container">
                            <li class="nav-item-dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="">Accommodation</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Both</a>
                                    <a class="dropdown-item" href="#">Boys</a>
                                    <a class="dropdown-item" href="#">Girls</a>
                                </div>
                            </li>
                        </div> -->


                        <% if(auth === true){ %>
                            <li class="nav-item"><a href="/register" class="nav-link">Register a Property</a></li>
                        <% } %>



                        <!-- <li class="nav-item"><a href="#" class="nav-link">Register a Property</a></li> -->
                        
                        <% if(auth === true){ %>
                            <form action="/logout" method="GET">
                                <button class="btn btn-outline my-2 my-sm-0" type="submit">Logout</button>
                            </form>
                        <% }else{ %>
                            <form action="/signup">
                                <button class="btn btn-outline my-2 my-sm-0" type="submit">Login</button>
                            </form>
                        <% }%>
                    </ul>                 
                </div>
            </nav>
        </div>
        <!-- Homes for display -->
        <div class="container-fluid">
            
            <% if (mydata.data.posts.length === 0){ %>
                <div class="row">
                    <div class="card col-12">
                        <h1 style="align-items: center;justify-content: center;display: flex;"> No Results Found!</h1>
                    </div>
                </div>
                
            
        <% } else{ %>
            <div class="row">
                <% mydata.data.posts.forEach(function(pst) { %>
                    <div class="card col-md-4">
                        <!-- <img src="<%= pst.img_url[0] %>" class="card-img-top" alt="..."> -->
                        <img src="<%= pst.img_url[0] %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= pst.Apartment_Name %></h5>
                          <!-- Apartment Name : <b><%= pst.Apartment_Name %></b> <br> -->
                          <b>Location :</b> <%= pst.Location %> <br>
                          <b>Owner Name :</b> <%= pst.Owner_Name %>
                          <p class="card-text"><b>Description :</b> <%= pst.Description.slice(0, 150) + "  . . ." %></p>
                          <!-- <a href="/content?id=<%= pst._id %>" class="btn btn-primary">Go somewhere</a> -->
                          <% if(auth === true){ %>
                            <a href="/content?id=<%= pst._id %>" class="btn btn-primary">View info</a>
                        <% } else {%>
                          <a href="/signup?err=Login%20first%20to%20proceed" class="btn btn-primary">View info</a>
                            <% } %>
                        </div>
                    </div>
                <% }); %>    
            </div>
        <% } %>
        </div>
        <br>
        <div class="footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <!-- Previous -->
                <% if(parseInt(mydata.data.currentPage) - 1 === 0){ %>
                    <% } else{ %>
                    <li class="page-item"><a class="page-link" href="/home?getpage=<%= parseInt(mydata.data.currentPage) - 1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <% } %>

                    <!-- Pages -->
                <%  for (let j = 1; j < mydata.data.pages + 1 ; j++) { %>
                    <li class="page-item"><a class="page-link" href="/home?getpage=<%= j %>"><%= j %></a>
                <%  } %>

                    <!-- Next -->
                <% if(parseInt(mydata.data.currentPage) + 1 > mydata.data.pages){ %>
                    <% } else{ %>
                    <li class="page-item"><a class="page-link" href="/home?getpage=<%= parseInt(mydata.data.currentPage) + 1 %>" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>     
                <% } %>

                </ul>
              </nav>
        </div>

        <script>
            window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; //class loader hidden
    });
        </script>
    </body>
</html>
